.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  contain: layout style size;
  pointer-events: none;

  &.media-blend {
    z-index: 100;
    mix-blend-mode: exclusion;

    .cursor-media {
      filter: invert(1);
      -webkit-filter: invert(1);
    }
  }

  &.media-blend-dark {
    z-index: 100;
    mix-blend-mode: exclusion;

    .cursor-media {
      filter: invert(0);
      -webkit-filter: invert(0);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    background-color: white;
    transform: scale(0.2);
    border-radius: 24px;
    //-webkit-border-radius: 50%;
    //-moz-border-radius: 50%;
    //-ms-border-radius: 50%;
    //-o-border-radius: 50%;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }

  // &::after {
  //   content: 'view case';
  //   position: absolute;
  //   height: 20px;
  //   width: 20px;
  //   background-color: white;
  //   font-size: 14px;
  //   color: white;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   -webkit-transform: translate(-50%, -50%);
  //   -moz-transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   -o-transform: translate(-50%, -50%);
  // }

  .cursor-media {
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 0px;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;

    img {
      width: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.8);
      position: absolute;
      // background: white;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1.8);
      -moz-transform: translateX(-50%) translateY(-50%) scale(1.8);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1.8);
      -o-transform: translateX(-50%) translateY(-50%) scale(1.8);
    }
  }

  .view-case {
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 0px;
    transform: scale(0);
    margin: -350px 0 0 -175px;
    position: relative;

    img {
      // width: auto;
      // top: 50%;
      // left: 50%;
      // transform: translateX(-50%) translateY(-50%) scale(1.8);
      // position: absolute;
      // // background: white;
      // -webkit-transform: translateX(-50%) translateY(-50%) scale(1.8);
      // -moz-transform: translateX(-50%) translateY(-50%) scale(1.8);
      // -ms-transform: translateX(-50%) translateY(-50%) scale(1.8);
      // -o-transform: translateX(-50%) translateY(-50%) scale(1.8);
      background-color: red;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//       .cursor-media {
//         filter: invert(0) !important;
//         -webkit-filter: invert(0) !important;
//       }

//   .hero-header-text {
//     color: black !important;
//   }
// }

// @media (prefers-color-scheme: light) {
//       .cursor-media {
//         filter: invert(1) !important;
//         -webkit-filter: invert(1) !important;
// }

//   .hero-header-text {
//     color: white !important;
//   }
// }
