html {
    scroll-behavior: smooth;
}

.contributions {
  .grid-div {
    .presently-container,
    .memoji-container,
    .desktop-mockup-container {
      border: 1px solid #333333;
    }
  }
}

.more-on-youtube {
  .div {
    border: 1px solid #333333;

    .rotated-block {
      transform: rotate(31deg);
      -webkit-transform: rotate(31deg);
      -moz-transform: rotate(31deg);
      -ms-transform: rotate(31deg);
      -o-transform: rotate(31deg);
    }
  }
}

.header {
  .case-studies {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #333;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #333;
    }
  }
}

footer {
  .container {
    .first-container {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
    }
  }
}

.spin {
  animation: spin 6s linear infinite;
  -webkit-animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.translate-down-one {
  animation: down-one 0.8s linear infinite;
  -webkit-animation: down-one 0.8s linear infinite;
}

@keyframes down-one {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.translate-down-two {
  animation: down-two 0.8s linear infinite;
  -webkit-animation: down-two 1s linear infinite;
}

@keyframes down-two {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.translate-down-three {
  animation: down-three 0.8s 0.2s linear infinite;
  -webkit-animation: down-three 1s 0.2s linear infinite;
}

@keyframes down-three {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dark-svg {
  visibility: visible;
}

.light-svg {
  visibility: visible;
}

// .vertical-line {
//   background-color: #404040;
// }


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
}

::-webkit-scrollbar-track-piece:vertical:end {
    background: transparent;
}