nav {
  .nav-container {
    .logo a .letter {
      transition: transform 0.2s;
    }

    .logo a .letter:nth-child(1) {
      transition-delay: 0.28s;
    }

    .logo a .letter:nth-child(2) {
      transition-delay: 0.26s;
    }

    .logo a .letter:nth-child(3) {
      transition-delay: 0.24s;
    }

    .logo a .letter:nth-child(4) {
      transition-delay: 0.22s;
    }

    .logo a .letter:nth-child(5) {
      transition-delay: 0.2s;
    }

    .logo a .letter:nth-child(6) {
      transition-delay: 0.18s;
    }

    .logo a .letter:nth-child(7) {
      transition-delay: 0.16s;
    }

    .logo a .letter:nth-child(8) {
      transition-delay: 0.14s;
    }

    .logo a .letter:nth-child(9) {
      transition-delay: 0.12s;
    }

    .logo a .letter:nth-child(10) {
      transition-delay: 0.1s;
    }

    .logo a .letter:nth-child(11) {
      transition-delay: 0.08s;
    }

    .logo a .letter:nth-child(12) {
      transition-delay: 0.06s;
    }

    .logo a .letter:nth-child(13) {
      transition-delay: 0.04s;
    }

    .logo a .letter:nth-child(14) {
      transition-delay: 0.02s;
    }

    .logo a .letter:nth-child(15) {
      transition-delay: 0s;
    }

    .logo:hover a .letter {
      transform: translateX(10px);
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
    }

    .logo:hover a .letter:nth-child(1) {
      transition-delay: 0.12s;
    }

    .logo:hover a .letter:nth-child(2) {
      transition-delay: 0.14s;
    }

    .logo:hover a .letter:nth-child(3) {
      transition-delay: 0.16s;
    }

    .logo:hover a .letter:nth-child(4) {
      transition-delay: 0.18s;
    }

    .logo:hover a .letter:nth-child(5) {
      transition-delay: 0.2s;
    }

    .logo:hover a .letter:nth-child(6) {
      transition-delay: 0.22s;
    }

    .logo:hover a .letter:nth-child(7) {
      transition-delay: 0.24s;
    }

    .logo:hover a .letter:nth-child(8) {
      transition-delay: 0.26s;
    }
    .logo:hover a .letter:nth-child(9) {
      transition-delay: 0.28s;
    }

    .logo:hover a .letter:nth-child(10) {
      transition-delay: 0.3s;
    }

    .logo:hover a .letter:nth-child(11) {
      transition-delay: 0.32s;
    }

    .logo:hover a .letter:nth-child(12) {
      transition-delay: 0.34s;
    }

    .logo:hover a .letter:nth-child(13) {
      transition-delay: 0.36s;
    }

    .logo:hover a .letter:nth-child(14) {
      transition-delay: 0.38s;
    }

    .logo:hover a .letter:nth-child(15) {
      transition-delay: 0.4s;
    }

    .home-navlist {
      ul {
        li:nth-child(1) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }

        li:nth-child(2) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }

        li:nth-child(3) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: white;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .navlist {
      ul {
        li:nth-child(1) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }

        li:nth-child(2) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }

        li:nth-child(3) {
          // transform: translateY(20px);
          // -webkit-transform: translateY(20px);
          // -moz-transform: translateY(20px);
          // -ms-transform: translateY(20px);
          // -o-transform: translateY(20px);
          a {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              bottom: -30%;
              left: 50%;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
              -moz-transition: 0.5s ease-in-out;
              -ms-transition: 0.5s ease-in-out;
              -o-transition: 0.5s ease-in-out;
            }

            &:hover::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -30%;
              left: 0;
              transition: 0.3s ease-in-out;
              -webkit-transition: 0.3s ease-in-out;
              -moz-transition: 0.3s ease-in-out;
              -ms-transition: 0.3s ease-in-out;
              -o-transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.featured-projects {
  // .p-text {
  //   font-size: 130px;
  //   // color: rgba(241, 241, 241, 1);
  //   padding: 0;
  // }

  .num {
    position: relative;
    // color: rgba(96, 88, 116, 1);

    //     &::before {
    //       content: "";
    //       position: absolute;
    //       width: 5px;
    //       height: 5px;
    //       top: 50%;
    //       left: 4%;
    //       border-radius: 50%;
    //       -webkit-border-radius: 50%;
    //       -moz-border-radius: 50%;
    //       -ms-border-radius: 50%;
    //       -o-border-radius: 50%;
    //       background: rgba(96, 88, 116, 1);
    // }
  }

  // .deats {
  //   color: rgba(144, 144, 144, 1);
  //   font-family: "Sf Pro Text";
  // }

  // .bottom {
  //   color: rgba(144, 144, 144, 1);
  //   font-family: "Sf Pro Text";
  //   font-weight: 400;
  // }
}

.contributions {
  .grid-div {
    .open-in-figma-text {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background: rgba(130, 130, 130, 1);
        transition: 800ms;
        -webkit-transition: 800ms;
        -moz-transition: 800ms;
        -ms-transition: 800ms;
        -o-transition: 800ms;
      }
    }
  }
}

.more-on-youtube {
  .subscribe {
    color: rgba(255, 96, 96, 1);
  }
}

.font-sf {
  font-family: "Sf Pro Text";
}

.texts-container {
  .lets-talk {
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      transition: 500ms;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: solid transparent;
      border-left: solid transparent;
      z-index: 1;
      transition: 500ms;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
    }
  }
}

.credits {
  .developer {
        a {
          position: relative;
          // border: 1px solid white;
  
          &::after {
            content: '';
            position: absolute;
            bottom: -30%;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: white;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
  
          &:hover::after {
            content: '';
            position: absolute;
            bottom: -30%;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: white;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
}
        }
  }
}
